* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: lightgrey;
}

header {
    min-height: 70px ;
    background-color: white;
}

#logo{
    margin: 10px 0px 5px 15px;
    vertical-align: middle;

}

#Title{
    font-weight: 800;
    font-size: 30px;
    vertical-align: middle;
}

/* MAIN */

.container{
    width: 80%;
    margin:40px auto;
    background-color: white;
    border-radius: 10px;
}

.mini-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0px
}

/* Input  */

#input{
    padding: 15px 0px;
}

#button{
    border: none;
    border-radius: 5px;
    background-color: rgb(20, 143, 220);
    color: white;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
}

#add{
    width:20%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

/* Labels */

.label
{
    color:  white;
    border-radius: 10px;
    font-size: 12px;
    text-align: center;
    padding: 8px;
}

#ed {
    background-color: rgb(20, 143, 220);
}

#sales{
    background-color: rgb(149, 200, 55);
}

#web{
    background-color: rgb(157, 17, 97);
}

#mobile{
    background-color: rgb(224, 155, 26);
}

#recruiting{
    background-color: rgb(32, 133, 67);
}

#q1{
    background-color: rgb(122, 38, 136);
}

/* Lista */

.to-do{
    margin: 20px;
}

.arrow{
    font-size: 30px;
    margin-left: 10px;
    
}

.x-mark{
    color:red;
    border: 3px solid red;
    border-radius: 50%;
    margin-right: 10px
}

.check{
    color: green;
    border: 3px solid green;
    border-radius: 50%;
    margin-right: 10px
}





