* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: lightgrey;
}

header {
    min-height: 70px ;
    background-color: white;
}

#logo{
    margin: 10px 0px 5px 15px;
    vertical-align: middle;

}

#Title{
    font-weight: 800;
    font-size: 30px;
    vertical-align: middle;
}

.container {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px 0px 20px 40px;
    border-radius: 10px 0px;
}

.tasks{
    background-color: white;
    width: 80%;
    margin: 0 auto;
    margin-top: 2px;
    border-radius: 0px 10px;
}

li{
    list-style: none;
    line-height: 2;
    margin-left: 40px;
}

h3{

}

.label {
    color: white;
    border-radius: 10px;
    font-size: 12px;
    text-align: center;
    padding: 8px;
}

.ed {
    background-color: rgb(20, 143, 220);
}

.sales {
    background-color: rgb(149, 200, 55);
}

.web {
    background-color: rgb(157, 17, 97);
}

.mobile {
    background-color: rgb(224, 155, 26);
}

.recruiting {
    background-color: rgb(32, 133, 67);
}

.q1 {
    background-color: rgb(122, 38, 136);
}





